.message-row {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f0f0f0;
  overflow: hidden;
}

.message {
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  max-width: 60%;
  word-break: break-word;
  white-space: pre-wrap;
  border: 1px solid #c0c0c0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.07);
  font-size: 1rem;
}

.user {
  background-color: #647C90;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.ai {
  background-color: #E2DED0;
  color: black;
  align-self: flex-start;
  margin-right: auto;
}
